{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>
    <form method="post" action="{{ path('app_login') }}">
        {% if error %}
            <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                Vous êtes connecté en tant que {{ app.user.email }}.
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% else %}
            <div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <label for="inputEmail">Email :</label>
                <input type="email" name="_username" id="inputEmail" required autofocus>

                <label for="inputPassword">Mot de passe :</label>
                <input type="password" name="_password" id="inputPassword" required>


                <button type="submit">Se connecter</button>
            </div>
            <p>
    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
</p>
        {% endif %}
    </form>
{% endblock %}
