{% extends 'base.html.twig' %}

{% block title %}Tutoriel{% endblock %}

{% block body %}
    <h1>Tutoriel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tutoriel.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ tutoriel.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ tutoriel.contenu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tutoriel.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tutoriel_index') }}">back to list</a>

    <a href="{{ path('app_tutoriel_edit', {'id': tutoriel.id}) }}">edit</a>

    {{ include('tutoriel/_delete_form.html.twig') }}
{% endblock %}
